@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjord+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    margin: auto;
    background-color: #F3E7E0;
}

.align-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 5px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background-color: #D2405A;
    border-radius: 15px;
    padding-top: 2px;
}

.logo img {
    width: 60px;
    padding-left: 35px;
}

li {
    display: inline-block;
    margin: 15px;
}

a {
    color: #D4C5F4;
    font-weight: 300;
    font-size: 14px;
}

a:hover {
    color: white;
    transition: 0.3s all;
}


.img-front img{
    margin-left: -30px;
}
main {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: #43223E;
}

main p {
    font-size: 22px;
    font-weight: 800;
    padding-top: 18px;
}

p img{
    width: 25px;
}

main h1 {
    padding-top: 20px;
    font-size: 152px;
    color: #43223E;
    font-weight: 800;
    line-height: 120px;
    font-family: "Inter", sans-serif;
}

h1 img{
    width: 65px;
    height: 95px;
}

main h2 {
    font-size: 22px;
    font-weight: 800;
    padding-top: 18px;
    display: flex;
    justify-content: end;
}

h2 img{
    width: 25px;
    height: 25px;
}

.trabalhos {
    width: 100%;
    height: 1050px;
}

.portifolio {
    margin-top: 100px;
    display: flex;
    background-color: #e9d1cf;
    border-radius: 15px;
    width: 145px;
    margin-left: 100px;
}

.portifolio p {
    height: 40px;
    color: #D2405A;
    font-weight: 700;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 10px;
}

.portifolio img {
    width: 32px;
    height: 30px;
    padding-left: 13px;
    padding-top: 10px;
}

.align-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 800;
    color: #D2405A;
}

.align-cell {
    margin-top: 50px;
    margin-left: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}


.align-cell p {
    height: 50px;
    color: #43223E;
    font-weight: 700;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 15px;
}


.section-skills {
    width: 100%;
    height: 180px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills {
    margin-top: 50px;
    display: flex;
    background-color: #e9d1cf;
    border-radius: 15px;
    width: 255px;
}

.skills h2 {
    height: 50px;
    color: #D2405A;
    font-weight: 700;
    font-size: 20px;
    padding-left: 6px;
    padding-top: 15px;
}

.skills img {
    width: 40px;
    height: 36px;
    padding-left: 15px;
    padding-top: 12px;
}

.section-skills p {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #D2405A;
    opacity: 80%;
}

.icons-tecs{
    display: flex;
}

.icons-tecs img{
    padding-top: 40px;
    width: 75px;
    height: 95px;
}

.section-car {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carreira {
    margin-top: 350px;
    display: flex;
    background-color: #e9d1cf;
    border-radius: 15px;
    width: 140px;
}

.carreira h3 {
    height: 50px;
    color: #D2405A;
    font-weight: 700;
    font-size: 20px;
    padding-left: 6px;
    padding-top: 15px;
}

.carreira img {
    width: 40px;
    height: 36px;
    padding-left: 15px;
    padding-top: 12px;
}

.align-gif {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.align-text {
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}

.align-gif img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.align-gif p{
    width: 700px;
    text-align: justify;
    color: #D2405A;
    font-weight: 600;
    font-size: 24px;
    padding-left: 50px;
    padding-top: 35px;
}


.section-contatos {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatos {
    display: flex;
    background-color: #e9d1cf;
    border-radius: 15px;
    width: 140px;
}

.contatos h3 {
    height: 50px;
    color: #D2405A;
    font-weight: 700;
    font-size: 20px;
    padding-left: 6px;
    padding-top: 15px;
}

.contatos img {
    width: 40px;
    height: 36px;
    padding-left: 15px;
    padding-top: 12px;
}

.align-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contatos h1{
    margin-top: 40px;
}

.align-cats{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-cats img{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
}

.align-email h1{
    margin-top: 8px;
    color: #D2405A;
    font-weight: 500;
    font-size: 20px;
}

.align-email p{
    margin-top: 20px;
    color: #D2405A;
    font-weight: 400;
    font-size: 18px;
}

.section-contatos h2 {
    margin-top: 50px;
    color: #7B4AE2;
    font-weight: 600;
    font-size: 20px;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #43223E;
    display: flex;
    padding-top: 16px;
}

footer h1{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 240px;
    color: #ffffff;
    opacity: 80%;
    font-weight: 300;
    font-size: 15px;
}

.footer-imgs img{
    width: 40px;
    height: 60px;
}
